.project{background-color: #040b14;}
.project .features-item {
  background-color: var(--surface-color);
  display: flex;
  justify-content: center;
  left: 100px;
  width: 50%;
  height: 150px;
  align-items: center;
  padding: 20px;
  transition: 0.3s;
  border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
  position: relative;
}

.project .features-item i {
  font-size: 92px;
  padding-right: 10px;
  line-height: 0;
  position: absolute;
  top: 0;
}

.project .features-item h3 {
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 16px;
  position: absolute;
  top: 80%;
}

.project .features-item h3 a {
  color: var(--heading-color);
  transition: 0.3s;
}

.project .features-item:hover {
  border-color: #ff7200;
}

.project .features-item:hover h3 a {
  color: var(--accent-color);
  color: #ff7200;
  font-size: larger;
}